extends ../layoutAdmin

block admin_content 
  .table-responsive
    .d-flex.mb-3
      div.w-50.ms-3
        label.form-label(for='keyword').pe-2
          | #{t('admin.order.search')}
        .input-group
          input#keyword.form-control(type='search' placeholder='Search by name and address' aria-describedby='search-icon-1' name='keyword')
      div.w-25.px-3
        label.form-label(for='totalMin').pe-2
          | #{t('admin.order.totalMin')}
        input#totalMin.form-control(type='number' placeholder='Total min' aria-describedby='search-icon-1' name='totalMin')
      div.w-25.px-3
        label.form-label(for='totalMax').pe-2
          | #{t('admin.order.totalMax')}
        input#totalMax.form-control(type='number' placeholder='Total max' aria-describedby='search-icon-1' name='totalMax')
    .d-flex.mb-3
      div.w-25.px-3
        label.form-label(for='startDate').pe-2
          | #{t('order.startDate')}
        input#startDate.form-control(type='date' aria-describedby='search-icon-1')
      div.w-25.px-3
        label.form-label(for='endDate').pe-2
          | #{t('order.endDate')}
        input#endDate.form-control(type='date' aria-describedby='search-icon-1')
      div.w-25.px-3
        label.form-label(for='payment').pe-2
          | #{t('admin.order.paymentMethod')}
        select#payment.form-select(name="paymentMethod")
          option(disabled selected value=null) -- #{t('selectAnOption')} --
          each paymentMethod in paymentMethods
            - let method = paymentMethod.replaceAll('_', ' ')
            option(value=paymentMethod) #{method}
      div.w-20.px-3(name="status")
        label.form-label(for='status').pe-2
          | #{t('admin.order.status')}
        select#status.form-select
          option(disabled selected value=null) -- #{t('selectAnOption')} --
          - let statuses = Object.keys(OrderStatus)
          each status in statuses
            option(value=status) #{status}
      div.w-5
        label.form-label.pe-2
        span#searchAdminOrder.input-group-text.p-3.justify-content-center
          i.fa.fa-search
    .table-wrapper
      .table-title
        .row
          .col-sm-5
            h2.text-white #{t('admin.order.orderManagement')}
          .col-sm-7
            a.btn.btn-secondary(href='#')
              i.fas.fa-file-export
              span #{t('admin.order.exportToExcel')}
      table.table.table-hover
        thead
          tr
            th
            th #{t('admin.order.id')}
            th #{t('admin.order.createdAt')}
            th #{t('admin.order.name')}
            th #{t('admin.order.total')}
            th #{t('admin.order.paymentMethod')}
            th #{t('admin.order.address')}
            th #{t('admin.order.status')}
            th.text-center #{t('admin.order.action')}
        tbody
          each order in orders
            tr.h-100px
              td
                a(href=`/order/${order.id}`) 
                  i.fas.fa-eye
              td #{order.id}
              td.date(value=order.createdAt)
              td.w-250px #{order.name}
              td #{order.total}$
              - let method = order.paymentMethod.replaceAll('_', ' ')
              td #{method} 
              td.text-break.w-300px #{order.address}
              if order.status === OrderStatus.PENDING
                td
                  span.status.pending-color.pb-7px &bull;
                  |  #{order.status}
                td
                  .d-flex 
                    button.approveOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.approved-bg-color.me-2(data-order-id=order.id) #{t('admin.order.approve')}
                    button.rejectOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.rejected-bg-color(data-bs-toggle="modal" data-bs-target="#modalRejectOrder" data-order-id=order.id) #{t('admin.order.reject')}
              else if order.status === OrderStatus.COMPLETED
                td
                  span.status.complete-color.pb-7px &bull;
                  |  #{order.status}
                td
              else if order.status === OrderStatus.CANCELLED
                td
                  span.status.canceled-color.pb-7px &bull;
                  |  #{order.status}
                td
              else if order.status === OrderStatus.REJECTED
                td
                  span.status.rejected-color.pb-7px &bull;
                  |  #{order.status}
                td
              else if order.status === OrderStatus.APPROVED
                td
                  span.status.approved-color.pb-7px &bull;
                  |  #{order.status}
                td
                  button.completeOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.complete-bg-color(data-bs-toggle="modal" data-bs-target="#modalCancelOrder" data-order-id=order.id) #{t('admin.order.complete')}
      .col-12
        .pagination.d-flex.justify-content-center.mt-5
          each val in Array.from({length: pages}, (_, i) => i + 1)
            if val == page
              a.page.active.rounded(value=val) #{val}
            else
              a.page.rounded(value=val) #{val}
  #modalRejectOrder.modal.fade(tabindex='-1' aria-labelledby='modalRejectOrder' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1#modalRejectOrder.modal-title.fs-5 #{t('email.order.reasonReject')}
            sup.text-danger *
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.star-widget
          form()
            .textarea
              textarea#reasonReject(cols='50' placeholder='reason reject' name='reasonReject' required='')
              p#errorReason.text-danger.d-none #{t('error.invalidReason')}
            input#orderId.d-none(name='orderId')
            .btn
              button#submitRejectOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading...") #{t('order.submit')}
