.container-fluid.fixed-top.shadow
  .container.px-0
    nav.navbar.navbar-light.bg-white.navbar-expand-xl
      a.navbar-brand(href='/')
        h1.text-primary.display-6 #{t('header.title')}
      button.navbar-toggler.py-2.px-3(type='button', data-bs-toggle='collapse', data-bs-target='#navbarCollapse')
        span.fa.fa-bars.text-primary
      #navbarCollapse.collapse.navbar-collapse.bg-white
        .navbar-nav.mx-auto
        .d-flex.m-3.me-0
          .mx-2.multi-language
            select.form-select.select-language
              option#lngVi(value='vi') #{t('vi')}
              option#lngEn(value='en') #{t('en')}
          if user
            if !isAdmin
              a.position-relative.me-4.my-auto(href='/cart')
                i.fa.fa-shopping-bag.fa-2x
            .nav-item.dropdown
              img.avatar.h-60px.w-60px.rounded-circle(src=user.avatar alt='Avatar' data-bs-toggle='dropdown')
              .dropdown-menu.m-0.bg-secondary.rounded-0
                a.dropdown-item(href='/user/profile') #{t('header.profile')}
                if !isAdmin
                  a.dropdown-item(href='/order') #{t('header.order')}
                a.dropdown-item(href='/auth/logout') #{t('header.logout')}
          else
            .mt-15px 
              a(href='/auth/login') #{t('header.login')}
              span |
              a(href='/user/register') #{t('header.register')}
