extends ../layout

block content 
  include ../mixins/_breadcrumb
  +breadcurmb('Product Details', [
    {
      href: '/',
      text: t('header.home')
    },
    {
      href: '/',
      text: t('product.product')
    },
    {
      href: `/product/${product.id}`,
      text: product.name
    },
  ])

  .container-fluid.py-5.mt-5
    .container.py-5
      .row.g-4.mb-5
        .col-lg-8.col-xl-9
          .row.g-4
            .col-lg-6
              .border.rounded
                a(href='#')
                  if product.images[0]
                    img.img-fluid.rounded(src=product.images[0].url alt='Image')
            .col-lg-6
              h4.fw-bold.mb-3 #{product.name}
              if product.category
                p.mb-3 #{t('product.category')}: #{product.category.name}
              h5.fw-bold.mb-3 #{product.price} $
              .d-flex.mb-4
                each val in Array.from({ length: Math.floor(product.ratingAvg) })
                  i.fa.fa-star.text-secondary
                each val in Array.from({ length: Math.floor(5 - product.ratingAvg) })
                  i.fa.fa-star
              p.mb-4
                | #{product.description}
              if user
                .input-group.quantity.mb-5.w-100px
                  .input-group-btn
                    button.btn.btn-sm.btn-minus.rounded-circle.bg-light.border
                      i.fa.fa-minus
                  input.form-control.form-control-sm.text-center.border-0(type='text' value='1')
                  .input-group-btn
                    button.btn.btn-sm.btn-plus.rounded-circle.bg-light.border
                      i.fa.fa-plus
                a.btn.border.border-secondary.rounded-pill.px-4.py-2.mb-4.text-primary(href='#')
                  i.fa.fa-shopping-bag.me-2.text-primary
                  |  #{t('home.addToCart')}
            .col-lg-12
              nav
                .nav.nav-tabs.mb-3
                  button#nav-mission-tab.active.nav-link.border-white.border-bottom-0(type='button' role='tab' data-bs-toggle='tab' data-bs-target='#nav-mission' aria-controls='nav-mission' aria-selected='true') Reviews
              .tab-content.mb-5
                #nav-mission.tab-pane.active(role='tabpanel' aria-labelledby='nav-mission-tab')
                  each rating in ratings
                    .d-flex
                      img.img-fluid.rounded-circle.p-3.w-100px.h-100px(src=rating.user.avatar alt='')
                      div
                        p.date.mb-2.fs-14px(value=rating.createdAt)
                        .d-flex.justify-content-between
                          h5 #{rating.user.name}
                          .d-flex.mb-3
                            each val in Array.from({ length: Math.floor(rating.ratingPoint) })
                              i.fa.fa-star.text-secondary
                            each val in Array.from({ length: Math.floor(5 - rating.ratingPoint) })
                              i.fa.fa-star
                        p #{rating.comment}
                  .col-12
                    .pagination.d-flex.justify-content-center.mt-5
                      each val in Array.from({length: pages}, (_, i) => i + 1)
                        if val == page
                          a.page.active.rounded(value=val) #{val}
                        else
                          a.page.rounded(value=val) #{val}
        .col-lg-4.col-xl-3
          .row.g-4.fruite
            .col-lg-12
              h4.mb-4 #{t('product.featuredProducts')}
              each product in featuredProducts
                a(href=`/product/${product.id}`)
                  .d-flex.align-items-center.justify-content-start
                    .rounded.w-100px.h-100px
                      if product.images[0]
                        img.img-fluid.rounded(src=product.images[0].url alt='Image')
                    div
                      h6.mb-2 #{product.name}
                      .d-flex.mb-2
                        each val in Array.from({ length: Math.floor(product.ratingAvg) })
                          i.fa.fa-star.text-secondary
                        each val in Array.from({ length: Math.floor(5 - product.ratingAvg) })
                          i.fa.fa-star.text-muted
                      .d-flex.mb-2
                        h5.fw-bold.me-2 #{product.price} $
