extends ../layoutAdmin

block admin_content 
  .table-responsive
    .d-flex.mb-3
      div.w-50.ms-3
        label.form-label(for='keyword').pe-2
        | #{t('admin.user.search')}
        .input-group
          input#keyword.form-control(type='search' placeholder='keywords' aria-describedby='search-icon-1' value=(query.keyword ? query.keyword : ''))
          span#searchCategory.search-icon-1.input-group-text.p-2
            i.fa.fa-search
    .table-wrapper
      .table-title
        .row
          .col-sm-5
            h2.text-white #{t('admin.category.categoryManagment')}
          .col-sm-7
            button#addCategory.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#modalCreateCategory")
              i.fas.fa-plus
              span #{t('admin.category.addNewCategory')}
      table.table.table-hover
        thead
          tr
            th.w-50 #{t('admin.category.id')}
            th.w-50 #{t('admin.category.name')}
            th.w-25 #{t('admin.category.action')}
        tbody
          each category in categories
            tr
              td #{category.id}
              td #{category.name}
              td
                a.updateCategory.px-2.text-success(data-bs-toggle="modal" data-bs-target="#modalUpdateCategory" data-category-id=category.id data-category-name=category.name)
                  i.fas.fa-pen.fs-24px
      #modalCreateCategory.modal.fade(tabindex='-1' aria-labelledby='modalCreateCategory' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h1#modalCreateCategory.modal-title.fs-5 #{t('admin.category.addNewCategory')}
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              form
                .input-group
                  input#name.form-control(placeholder='name' type="text")
                p.text-danger#errorCreateCategory
                button#submitCreateCategory.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(type='submit') #{t('order.submit')}
      #modalUpdateCategory.modal.fade(tabindex='-1' aria-labelledby='modalUpdateCategory' aria-hidden='true')
        .modal-dialog.modal-dialog-centered
          .modal-content
            .modal-header
              h1#modalUpdateCategory.modal-title.fs-5 #{t('admin.category.updateCategory')}
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              form
                .input-group
                  input#updateName.form-control(placeholder='name' type="text")
                  input#id.d-none
                p.text-danger#errorUpdateCategory
                button#submitUpdateCategory.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(type='submit') #{t('order.submit')}
      .col-12
        .pagination.d-flex.justify-content-center.mt-5
          each val in Array.from({length: pages}, (_, i) => i + 1)
            if val == page
              a.page.active.rounded(value=val) #{val}
            else
              a.page.rounded(value=val) #{val}
