extends ../layoutAdmin

block admin_content
  .row.mt-5
    .col-md-6.offset-md-3
      h1 {{Action}} #{t('admin.user.user')}
      form
            .mb-3
              label.form-label(for='name') 
                | #{t('admin.user.name')}
                sup.text-danger *
              input#name.form-control(disabled type='text' required='')
            .mb-3
              label.form-label(for='email') 
                | #{t('admin.user.email')}
                sup.text-danger *
              input#email.form-control(disabled type='email' required='')
            .mb-3
              label.form-label(for='password') 
                | #{t('admin.user.password')}
                sup.text-danger *
              input#password.form-control(disabled type='password' required='')
            .mb-3
              label.form-label(for='passwordConfirm')
                | #{t('admin.user.passwordConfirm')} 
                sup.text-danger *
              input#passwordConfirm.form-control(disabled type='password' required='')
            .mb-3
              label.form-label(for='phone')
                | #{t('admin.user.phone')}
                sup.text-danger *
              input#phone.form-control(disabled type='tel' required='')
            .mb-3
              label.form-label(for='gender')
                | #{t('admin.user.genre')}
                sup.text-danger *
              select#gender.form-select(disabled)
            .mb-3
              label.form-label(for='dateOfBirth')
                | #{t('admin.user.dateOfBirth')}
                sup.text-danger *
              input#dateOfBirth.form-control(disabled type='date')
            .mb-3
              label.form-label(for='avatar')
                | #{t('admin.user.avatar')}
                sup.text-danger *
              input#avatar.form-control(disabled type='file')
            .mb-3
              label.form-label(for='address')
                | #{t('admin.user.address')}
                sup.text-danger *
              textarea#address.form-control(disabled rows='3' required='')
            .mb-3
              label.form-label(for='gender')
                | #{t('admin.user.status')}
                sup.text-danger *
              select#gender.form-select
                each status in statuses
                  option(value=status) #{status}
            button.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(type='submit') #{t('admin.user.update')}
            .d-flex.justify-content-end 
