extends ../layout

block content 
  include ../mixins/_breadcrumb
  +breadcurmb(t('order.order'), [
    {
      href: '/',
      text: t('header.home')
    },
    {
      href: '/order',
      text: t('order.order')
    },
  ])

  .container-fluid.py-5
    .container.py-5
      h1.mb-4 #{t('checkout.title')}
      form(method='POST' enctype='multipart/form-data' actions='/checkout')
        .row.g-5
          .col-md-12.col-lg-6.col-xl-7
            if isAdmin
              .form-item
                label.form-label.my-3
                  | #{t('checkout.user')} 
                  sup.text-danger *
                input.form-control(type='text' name="name" placeholder='name' disabled value=order.user.name)
            .form-item
              label.form-label.my-3
                | #{t('checkout.name')} 
                sup.text-danger *
              input.form-control(type='text' name="name" placeholder='name' disabled value=order.name)
            .form-item
              label.form-label.my-3
                | #{t('checkout.address')} 
                sup.text-danger *
              input.form-control(type='text' name="address" placeholder='House Number Street Name' disabled value=order.address )
            .form-item
              label.form-label.my-3
                | #{t('checkout.phone')}
                sup.text-danger *
              input.form-control(type='tel' name="phone" disabled value=order.phone)
            .form-item
              label.form-label.my-3
                | #{t('checkout.email')}
                sup.text-danger *
              input.form-control(type='email' name="email" disabled value=order.email)
            .form-item
              label.form-label.my-3
               | #{t('checkout.note')}
              textarea.form-control(name='note' spellcheck='false' cols='30' rows='11' disabled placeholder='Oreder Notes (Optional)' value=(order.note === underfined ? '' : order.note))
          .col-md-12.col-lg-6.col-xl-5
            .table-responsive
              table.table
                thead
                  tr
                    th(scope='col') #{t('checkout.products')}
                    th(scope='col') #{t('checkout.name')}
                    th(scope='col') #{t('checkout.price')}
                    th(scope='col') #{t('checkout.quantity')}
                    th(scope='col') #{t('checkout.total')}
                tbody
                  each item in items
                    tr
                      th(scope='row')
                        .d-flex.align-items-center.mt-2
                          img.img-fluid.rounded-circle.w-90px.h-90px(src=item.product.images[0].url alt='')
                      td.py-5 #{item.product.name}
                      td.py-5 $#{item.price}
                      td.py-5 #{item.quantity}
                      - let total = item.price * item.quantity
                      td.py-5 $#{total}
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.py-3 #{t('checkout.subtotal')}
                    th(scope='row')
                    td.py-5
                    td.py-5
                      .py-3.border-bottom.border-top
                        p.mb-0.text-dark $#{subtotal}
                  if coupon 
                    tr
                      td.py-5(colspan='2')
                        p.mb-0.text-dark.py-3 #{t('checkout.coupon')}
                      th(scope='row')
                      td.py-5
                      td.py-5
                        .py-3.border-bottom.border-top
                          p.mb-0.text-dark -#{coupon.percentage}%
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.text-uppercase.py-3 #{t('checkout.total')}
                    th(scope='row')
                    td.py-5
                    td.py-5
                      .py-3.border-bottom.border-top
                        p.mb-0.text-dark $#{order.total}
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.py-4 #{t('checkout.paymentMethod')}
                    th(scope='row')
                    td.py-5(colspan='2')
                      .py-3
                        -let text = order.paymentMethod.replaceAll('_', ' ')
                        p.mb-0.text-dark #{text}
                  if order.proof
                    tr
                      td.py-5(colspan='2')
                        p.mb-0.text-dark.py-4 #{t('checkout.proof')}
                      th(scope='row')
                      td.py-5(colspan='2')
                        .py-3
                          a(href=order.proof download).mb-0 #{t('order.download')}
