extends ../layout

block content 
  include ../mixins/_breadcrumb
  if isAdmin
    +breadcurmb(t('order.order'), [
      {
        href: '/',
        text: t('header.home')
      },
      {
        href: '/admin/order',
        text: t('order.order')
      },
    ])
  else 
    +breadcurmb(t('order.order'), [
      {
        href: '/',
        text: t('header.home')
      },
      {
        href: '/order',
        text: t('order.order')
      },
    ])

  .container-fluid.py-5
    .container.py-5
      .d-flex.justify-content-between
        h1.mb-4 #{t('checkout.title')}
        if order.status === OrderStatus.PENDING
          .text-white.pending-bg-color.px-3.py-1.rounded.d-flex.justify-content-center.align-items-center #{order.status}
        if order.status === OrderStatus.COMPLETED
          .text-white.complete-bg-color.px-3.py-1.rounded.d-flex.justify-content-center.align-items-center #{order.status}
        if order.status === OrderStatus.APPROVED
          .text-white.approved-bg-color.px-3.py-1.rounded.d-flex.justify-content-center.align-items-center #{order.status}
        if order.status === OrderStatus.REJECTED
          .text-white.rejected-bg-color.px-3.py-1.rounded.d-flex.justify-content-center.align-items-center #{order.status}
        if order.status === OrderStatus.CANCELLED
          .text-white.canceled-bg-color.px-3.py-1.rounded.d-flex.justify-content-center.align-items-center #{order.status}
      form(method='POST' enctype='multipart/form-data' actions='/checkout')
        .row.g-5
          .col-md-12.col-lg-6.col-xl-7
            if isAdmin
              .form-item
                label.form-label.my-3
                  | #{t('checkout.user')} 
                  sup.text-danger *
                input.form-control(type='text' name="name" placeholder='name' disabled value=order.user.name)
            .form-item
              label.form-label.my-3
                | #{t('checkout.name')} 
                sup.text-danger *
              input.form-control(type='text' name="name" placeholder='name' disabled value=order.name)
            .form-item
              label.form-label.my-3
                | #{t('checkout.address')} 
                sup.text-danger *
              input.form-control(type='text' name="address" placeholder='House Number Street Name' disabled value=order.address )
            .form-item
              label.form-label.my-3
                | #{t('checkout.phone')}
                sup.text-danger *
              input.form-control(type='tel' name="phone" disabled value=order.phone)
            .form-item
              label.form-label.my-3
                | #{t('checkout.email')}
                sup.text-danger *
              input.form-control(type='email' name="email" disabled value=order.email)
            .form-item
              label.form-label.my-3
               | #{t('checkout.note')}
              textarea.form-control(name='note' spellcheck='false' cols='30' rows='11' disabled placeholder='Oreder Notes (Optional)' value=(order.note === underfined ? '' : order.note))
          .col-md-12.col-lg-6.col-xl-5
            .table-responsive
              table.table
                thead
                  tr
                    th(scope='col') #{t('checkout.products')}
                    th(scope='col') #{t('checkout.name')}
                    th(scope='col') #{t('checkout.price')}
                    th(scope='col') #{t('checkout.quantity')}
                    th(scope='col') #{t('checkout.total')}
                tbody
                  each item in items
                    tr
                      th(scope='row')
                        .d-flex.align-items-center.mt-2
                          img.img-fluid.rounded-circle.w-90px.h-90px(src=item.product.images[0].url alt='')
                      td.py-5 #{item.product.name}
                      td.py-5 $#{item.price}
                      td.py-5 #{item.quantity}
                      - let total = item.price * item.quantity
                      td.py-5 $#{total}
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.py-3 #{t('checkout.subtotal')}
                    th(scope='row')
                    td.py-5
                    td.py-5
                      .py-3.border-bottom.border-top
                        p.mb-0.text-dark $#{subtotal}
                  if coupon 
                    tr
                      td.py-5(colspan='2')
                        p.mb-0.text-dark.py-3 #{t('checkout.coupon')}
                      th(scope='row')
                      td.py-5
                      td.py-5
                        .py-3.border-bottom.border-top
                          p.mb-0.text-dark -#{coupon.percentage}%
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.text-uppercase.py-3 #{t('checkout.total')}
                    th(scope='row')
                    td.py-5
                    td.py-5
                      .py-3.border-bottom.border-top
                        p.mb-0.text-dark $#{order.total}
                  tr
                    td.py-5(colspan='2')
                      p.mb-0.text-dark.py-4 #{t('checkout.paymentMethod')}
                    th(scope='row')
                    td.py-5(colspan='2')
                      .py-3
                        -let text = order.paymentMethod.replaceAll('_', ' ')
                        p.mb-0.text-dark #{text}
                  if order.proof
                    tr
                      td.py-5(colspan='2')
                        p.mb-0.text-dark.py-4 #{t('checkout.proof')}
                      th(scope='row')
                      td.py-5(colspan='2')
                        .py-3
                          a(href=order.proof download).mb-0 #{t('order.download')}
              if order.status === OrderStatus.PENDING
                .d-flex 
                  button.approveOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.approved-bg-color.me-2(data-order-id=order.id) #{t('admin.order.approve')}
                  button.rejectOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.rejected-bg-color(data-bs-toggle="modal" data-bs-target="#modalRejectOrder" data-order-id=order.id) #{t('admin.order.reject')}
              else if order.status === OrderStatus.APPROVED
                button.completeOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.complete-bg-color(data-bs-toggle="modal" data-bs-target="#modalCancelOrder" data-order-id=order.id) #{t('admin.order.complete')}

  #modalRejectOrder.modal.fade(tabindex='-1' aria-labelledby='modalRejectOrder' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1#modalRejectOrder.modal-title.fs-5 #{t('email.order.reasonReject')}
            sup.text-danger *
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.star-widget
          form()
            .textarea
              textarea#reasonReject(cols='50' placeholder='reason reject' name='reasonReject' required='')
              p#errorReason.text-danger.d-none #{t('error.invalidReason')}
            input#orderId.d-none(name='orderId')
            .btn
              button#submitRejectOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading...") #{t('order.submit')}

