extends ../layout

block content 
  include ../mixins/_breadcrumb
  +breadcurmb(t('order.title'), [
    {
      href: '/',
      text: t('header.home')
    },
    {
      href: '',
      text: t('order.title')
    },
  ])

  .container-fluid.py-5
    .container.py-5
      .table-responsive
        .d-flex.mb-3
          div.w-25.px-3
            label.form-label(for='startDate').pe-2
              | #{t('order.startDate')}
            input#startDate.form-control(type='date' aria-describedby='search-icon-1')
          div.w-25.px-3
            label.form-label(for='endDate').pe-2
              | #{t('order.endDate')}
            input#endDate.form-control(type='date' aria-describedby='search-icon-1')
          div.w-25.px-3
            label.form-label(for='payment').pe-2
              | #{t('order.paymentMethod')}
            select#payment.form-select
              option(disabled selected value=null) -- #{t('selectAnOption')} --
              each method in paymentMethods
                option(value=method) #{method}
          div.w-20.px-3
            label.form-label(for='status').pe-2
              | #{t('order.status')}
            select#status.form-select
              option(disabled selected value=null) -- #{t('selectAnOption')} --
              - let statuses = Object.keys(OrderStatus)
              each status in statuses
                option(value=status) #{status}
          div.w-5
            label.form-label.pe-2
            span#searchOrder.input-group-text.p-3.justify-content-center
              i.fa.fa-search
        .table-wrapper
          .table-title
            .row
              .col-sm-5
                h2.text-white #{t('order.orderManagement')}
              .col-sm-7
          table.table.table-hover
            thead
              tr
                th
                th #{t('order.id')}              
                th.w-200px #{t('order.createdAt')}
                th #{t('order.name')}
                th.w-250px #{t('order.address')}
                th #{t('order.total')}
                th #{t('order.paymentMethod')}
                th #{t('order.status')}
                th.w-200px.text-center #{t('order.action')}
            tbody
              each order in orders
                tr.h-100px
                  td 
                    a(href=`/order/${order.id}`) 
                      i.fas.fa-eye
                  td #{order.id}
                  td.date(value=order.createdAt)
                  td #{order.name}
                  td.text-break #{order.address}
                  td #{order.total}$
                  td #{order.paymentMethod} 
                  if order.status === OrderStatus.PENDING
                    td
                      span.status.pending-color.pb-7px &bull;
                      |  #{order.status}
                    td
                      button#cancelOrder.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.bg-gray(data-bs-toggle="modal" data-bs-target="#modalCancelOrder" data-order-id=order.id) #{t('order.cancel')}
                  else if order.status === OrderStatus.COMPLETED
                    td
                      span.status.complete-color.pb-7px &bull;
                      |  #{order.status}
                    td
                      a(href=`/order/${order.id}/rating`).btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100 #{t('order.rating')}
                  else if order.status === OrderStatus.CANCELLED
                    td
                      span.status.canceled-color.pb-7px &bull;
                      |  #{order.status}
                    td
                  else if order.status === OrderStatus.REJECTED
                    td
                      span.status.rejected-color.pb-7px &bull;
                      |  #{order.status}
                    td
                  else if order.status === OrderStatus.APPROVED
                    td
                      span.status.approved-color.pb-7px &bull;
                      |  #{order.status}
                    td
          .col-12
            .pagination.d-flex.justify-content-center.mt-5
              each val in Array.from({length: pages}, (_, i) => i + 1)
                if val == page
                  a.page.active.rounded(value=val) #{val}
                else
                  a.page.rounded(value=val) #{val}
