extends ../layout

block content 
  include ../mixins/_breadcrumb
  +breadcurmb('Rating', [])

  .container-fluid.py-5
    .container.py-5
      .table-responsive
        table.table
          thead
            tr
              th(scope='col') #{t('cart.products')}
              th(scope='col') #{t('cart.name')}
              th(scope='col') #{t('cart.price')}
              th(scope='col') #{t('cart.quantity')}
              th(scope='col') #{t('cart.total')}
              th(scope='col') #{t('cart.action')}
          tbody
            each item in orderItems
              tr
                th(scope='row')
                  .d-flex.align-items-center
                    img.img-fluid.me-5.rounded-circle.w-80px.h-80px(src=item.product.images[0].url alt='')
                td
                  p.mb-0.mt-4 #{item.product.name}
                td
                  p.mb-0.mt-4 #{item.price} $
                td
                  .input-group.quantity.mt-4.w-100px
                    input.no-extras.form-control.form-control-sm.text-center.border-0(type='text' disabled value=item.quantity)
                td
                  - let total = item.quantity * item.price
                  p.mb-0.mt-4 #{total} $
                td
                  if !item.isReviewed
                    button.openModalRating.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100.bg-gray(data-bs-toggle="modal" data-bs-target="#modalRatingOrder" data-order-id=item.id) #{t('rating.rating')}
  #modalRatingOrder.modal.fade(tabindex='-1' aria-labelledby='modalRatingOrder' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1#modalRatingOrder.modal-title.fs-5 #{t('rating.rating')}
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body.star-widget
          form()
            input#rate-5(type='radio' name='ratingPoint' value='5' checked)
            label.fas.fa-star(for='rate-5')
            input#rate-4(type='radio' name='ratingPoint' value='4')
            label.fas.fa-star(for='rate-4')
            input#rate-3(type='radio' name='ratingPoint' value='3')
            label.fas.fa-star(for='rate-3')
            input#rate-2(type='radio' name='ratingPoint' value='2')
            label.fas.fa-star(for='rate-2')
            input#rate-1(type='radio' name='ratingPoint' value='1')
            label.fas.fa-star(for='rate-1')
            .textarea
              textarea#comment(cols='30' placeholder='Describe your comment' name='comment' required='')
            input#orderItemId.d-none(name='orderItemId')
            .btn
              button#submitRating.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(type='submit') #{t('order.submit')}
