extends ../layout

block content 
  include ../mixins/_breadcrumb
  +breadcurmb(t('login.login'), [])

  .container-fluid.py-5
    .container.py-5
      .row
        .col-md-6.offset-md-3
          form(method='POST')
            .mb-3
              label.form-label(for='email') 
                | #{t('login.email')}
                sup.text-danger *
              input#email.form-control(type='email' required='' name='email')
              if errors
                - let error= errors.find(e => e.path == 'email')
                  if error
                    p.text-danger #{error.msg}
            .mb-3
              label.form-label(for='password') 
                | #{t('login.password')}
                sup.text-danger *
              input#password.form-control(type='password' required='' name='password')
              if errors
                - let error= errors.find(e => e.path == 'password')
                  if error
                    p.text-danger #{error.msg}
            button.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100(type='submit') #{t('login.login')}
            .d-flex.justify-content-end 
              a(href='/user/register').mt-2 #{t('login.createANewAccount')}
            .d-flex.justify-content-end 
              a(href='/user/forgot-password').mt-2 #{t('login.forgotPassword')}
