doctype html
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='stylesheet' , href='/public/css/order.css' )
body 
  h1 #{emailData.content.title}
  p #{emailData.content.message}
  
  h1 #{emailData.content.totalStatistic}
  p #{emailData.content.orders}: #{emailData.totalOrder.count}
  p #{emailData.content.total}: #{emailData.totalOrder.total}

  h1 #{emailData.content.yearStatistic}
  each data in emailData.orderData
    h1 #{emailData.content.month}: #{data.month}
    p #{emailData.content.orders}: #{data.data.count}
    p #{emailData.content.total}: #{data.data.total}
