extends ../layoutAdmin

block admin_content 
  .table-responsive
    .d-flex.mb-3
      .w-50.ms-3
        label.form-label(for='keyword').pe-2
          | #{t('admin.coupon.search')}
        .input-group
          input#keyword.form-control(type='search' placeholder='search by name' aria-describedby='search-icon-1' value=(query ? query.keyword : ''))
      .w-5.px-2 
        span#searchReset.search-icon-1.input-group-text.p-10px.mt-30px.justify-content-center
          i.fas.fa-minus-circle
      .w-5.px-2 
        span#adminSearchCoupon.search-icon-1.input-group-text.p-10px.mt-30px.justify-content-center
          i.fa.fa-search
    .d-flex.mb-3
      div.w-25.px-3
        label.form-label(for='percentage').pe-2
          | #{t('admin.coupon.percentage')}
        input#percentage.form-control(type='number' placeholder='Percentage' aria-describedby='search-icon-1' value=(query ? query.percentage : ''))
      div.w-25.px-3
        label.form-label(for='startDate').pe-2
          | #{t('admin.coupon.startDate')}
        input#startDate.form-control(type='date' aria-describedby='search-icon-1' value=(query ? query.startDate : ''))
      div.w-25.px-3
        label.form-label(for='endDate').pe-2
          | #{t('admin.coupon.endDate')}
        input#endDate.form-control(type='date' aria-describedby='search-icon-1' value=(query ? query.endDate : ''))
    .table-wrapper
      .table-title
        .row
          .col-sm-5
            h2.text-white #{t('admin.coupon.couponManagement')}
          .col-sm-7
            button.btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#modalCreateCoupon")
              i.fas.fa-plus
              span #{t('admin.coupon.addNewCoupon')}
            a.btn.btn-secondary(href='#')
              i.fas.fa-file-export
              span #{t('admin.coupon.exportToExcel')}
      table.table.table-hover
        thead
          tr
            th #{t('admin.coupon.name')}
            th #{t('admin.coupon.percentage')}
            th #{t('admin.coupon.startDate')}
            th #{t('admin.coupon.endDate')}
            th #{t('admin.coupon.action')}
        tbody
          each coupon in coupons
            tr
              td.w-250px #{coupon.name}
              td #{coupon.percentage}%
              td.date(value=coupon.startDate)
              td.date(value=coupon.endDate)
              td
                a(data-bs-toggle="modal" data-bs-target="#modalUpdateCoupon" data-coupon=coupon).text-success.px-2.updateCoupon
                  i.fas.fa-pen.fs-24px
      .col-12
        .pagination.d-flex.justify-content-center.mt-5
          each val in Array.from({length: pages}, (_, i) => i + 1)
            if val == page
              a.page.active.rounded(value=val) #{val}
            else
              a.page.rounded(value=val) #{val}
  #modalCreateCoupon.modal.fade(tabindex='-1' aria-labelledby='modalCreateCoupon' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1#modalCreateCoupon.modal-title.fs-5 #{t('admin.coupon.addNewCoupon')}
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form
            .mb-3
              label.form-label(for='name') 
                | #{t('admin.coupon.name')}
                sup.text-danger *
              input#nameInput.form-control(type='text' required='' name='name')
              p(path='name').text-danger
            .mb-3
              label.form-label(for='percentage') 
                | #{t('admin.coupon.percentage')} (%)
                sup.text-danger *
              input#percentageInput.form-control(type='number' required='' name='percentage')
              p(path='percentage').text-danger
            .mb-3
              label.form-label(for='startDate')
                | #{t('admin.coupon.startDate')}
                sup.text-danger *
              input#startDateInput.form-control(type='date' required='' name='startDate')
              p(path='startDate').text-danger
            .mb-3
              label.form-label(for='endDate')
                | #{t('admin.coupon.endDate')}
                sup.text-danger *
              input#endDateInput.form-control(type='date' required='' name='endDate')
              p(path='endDate').text-danger
            button#submitCreateCoupon.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100 #{t('order.submit')}
  #modalUpdateCoupon.modal.fade(tabindex='-1' aria-labelledby='modalUpdateCoupon' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h1#modalUpdateCoupon.modal-title.fs-5 #{t('admin.coupon.updateNewCoupon')}
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          form
            .mb-3
              label.form-label(for='name') 
                | #{t('admin.coupon.name')}
                sup.text-danger *
              input#nameInputUpdate.form-control(type='text' required='' name='name')
              p(path='name').text-danger.error
            .mb-3
              label.form-label(for='percentage') 
                | #{t('admin.coupon.percentage')} (%)
                sup.text-danger *
              input#percentageInputUpdate.form-control(type='number' required='' name='percentage')
              p(path='percentage').text-danger.error
            .mb-3
              label.form-label(for='startDate')
                | #{t('admin.coupon.startDate')}
                sup.text-danger *
              input#startDateInputUpdate.form-control(type='date' required='' name='startDate')
              p(path='startDate').text-danger.error
            .mb-3
              label.form-label(for='endDate')
                | #{t('admin.coupon.endDate')}
                sup.text-danger *
              input#endDateInputUpdate.form-control(type='date' required='' name='endDate')
              p(path='endDate').text-danger.error
            input#id.d-none
            button#submitUpdateCoupon.btn.btn-primary.border-0.border-secondary.py-3.px-4.rounded-pill.text-white.w-100 #{t('order.submit')}
        
